.info-container {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  /* padding-top: 14vh; */
  /* padding-bottom: 14vh; */
}

.song-container {
  display: flex;
  flex-direction: row;
  font-size: auto;
}

.album-logo {
  width: 5vw;
  height: 5vw;
}

.title {
  width: auto;
  margin: auto;
  font-size: 3vmin;
}

.chart-container {
  width: 20vw;
  height: 30vh;
}

.player-container {
  width: 20vw;
  height: 30vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#player {
  margin: auto;
}


