.info-container {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
}

.chart-container {
  width: 20rem;
  height: 20rem;
}

.song-container {
  display: flex;
  flex-direction: row;
  font-size: auto;
}

.album-logo {
  width: 5rem;
  height: 5rem;
}

.title {
  width: auto;
  margin: auto;
  font-size: 2vmin;
}